# Server Configuration
PORT=5001

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/esd_testing_db

# JWT Configuration
JWT_SECRET=a61aba0c0468ee011494dcf0ba00d1de900f879d12fa51d16fc424a84edfa484bc359ad2d632df529120235074e39ebb07957df4520a00604d2023d4f3ed7e16

# Email Configuration
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=587
# EMAIL_USER=your_email@example.com
# EMAIL_PASSWORD=your_email_password

FRONTEND_URL=http://localhost:3000
