# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment files
.env
.env.local
.env.development
.env.production

# Build directories
/build
/dist
client/dist
client/node_modules

# But don't ignore these
!railway.toml
!.nixpacks.toml

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.idea
.vscode
*.swp
*.swo
