# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment files
.env
.env.local
.env.development
.env.production
server/.env
client/.env
client/console logs
server/.env.example
temp-hash
server/.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
/build
/dist
client/dist
client/node_modules

# IDE specific files
.idea
.vscode
*.swp
*.swo
